/* Style the header with a grey background and some padding */
.header-cont {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  background-color: #eeeeee;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 2px 2px 5px #e1e1e1;
}

.main-nav {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 300;
  background-color: #eeeeee;
  border-radius: 10px;
}

.subheader {
  font-weight: 100;
}

.profile-pic-cont {
  width: 30%;
  height: auto;
  border-radius: 20px;
  border: 2px grey solid;
  float: right;
  margin-left: 5%;
  margin-right: 2%;
}

.profile-pic-cont:hover { 
  border: 2px orange solid;
}

.about-cont {
  background-color: white;
}

a.about-anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.projects-cont {
  background-color: white;
}

a.projects-anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.contact-cont {
  background-color: white;
}

a.contact-anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.body-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  margin-top: 20vh;
}

#submit-button {
  background-color: rgb(240, 240, 255);
  transition: all 250ms ease-in;
}

#submit-button:hover{
  background-color: #64ffa4;
}

#submit-button:active{
  background-color: #0e8a41;
}
